In [6]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
#Import Pandas as dependancy
import pandas as pd

In [8]:
#Create a pandas series from a list
school_series = pd.Series(high_schools)
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [13]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [15]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [23]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID            School Name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [24]:
#Add school name and tyoe to data frame
schools_df["School Name"] = school_name

school_df

   School ID            school_name      type      Type
0          0   Huang High    School  District  District
1          1   Figueroa High School  District  District
2          2    Shelton High School   Charter   Charter
3          3  Hernandez High School  District  District
4          4    Griffin High School   Charter   Charter

In [25]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
school_df

   School ID            school_name      type      Type
0          0   Huang High    School  District  District
1          1   Figueroa High School  District  District
2          2    Shelton High School   Charter   Charter
3          3  Hernandez High School  District  District
4          4    Griffin High School   Charter   Charter

In [26]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'Type'], dtype='object')

In [27]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
school_df.values

array([[0, 'Huang High    School', 'District', 'District'],
       [1, 'Figueroa High School', 'District', 'District'],
       [2, 'Shelton High School', 'Charter', 'Charter'],
       [3, 'Hernandez High School', 'District', 'District'],
       [4, 'Griffin High School', 'Charter', 'Charter']], dtype=object)

In [29]:
school_df = pd.DataFrame.drop("Type")
school_df

TypeError: super(type, obj): obj must be an instance or subtype of type

In [30]:
school_df

   School ID            school_name      type      Type
0          0   Huang High    School  District  District
1          1   Figueroa High School  District  District
2          2    Shelton High School   Charter   Charter
3          3  Hernandez High School  District  District
4          4    Griffin High School   Charter   Charter

In [31]:
school_df = DataFrame.drop("Type", 4)
school_df

NameError: name 'DataFrame' is not defined

In [32]:
DataFrame = school_df.drop("Typer", 4)
school_df

/Users/zacharybolke/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

ValueError: No axis named 4 for object type DataFrame

In [33]:
school_df.pop("Type")
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter